<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases> 
		<typeAlias alias="memberDTO" type="com.icia.openclass.dto.MemberDTO"/>
		<typeAlias alias="productDTO" type="com.icia.openclass.dto.ProductDTO"/>
	</typeAliases>
</configuration>
