<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="mentor">
 <insert id="save" parameterType="mentorSaveDto">
 insert into mentor_table(me_id, me_password, me_name, me_phone, me_joindate)
 values(#{me_id}, #{me_password}, #{me_name}, #{me_phone}, now())
 </insert>
 
 
 </mapper>