<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="product">
 
 <!-- 클래스등록 -->
 <insert id="save" parameterType="productDTO">
 insert into product_table(m_number, m_id, p_name, p_contents, p_price, p_startDate, p_endDate, p_hits, p_discount, p_satisfy, p_applyNum, p_recommend)
 values (#{m_number}, #{m_id}, #{p_name}, #{p_contents}, #{p_price}, #{p_startDate}, #{p_endDate}, #{p_hits}, #{p_discount}, #{p_satisfy}, #{p_applyNum}, #{p_recommend})
 </insert>
 
 <!-- 전체클래스목록 -->
 <select id="findAll" resultType="productDTO">
 select * from product_table
 </select>
 
 <!-- 클래스 상세조회  -->
 <select id="findById" parameterType="long" resultType="productDTO">
 select * from product_table where p_number=#{p_number}
 </select>
 
 <!--조회수  -->
 <update id="updateHits" parameterType="long">
 update product_table set p_hits=p_hits+1 where p_number=#{p_number}
 </update>
 
 <!-- 추천수 -->
 <update id="recommend" parameterType="long">
 update product_table set p_recommend=p_recommend+1 where p_number=#{p_number}
 </update>
 
 <!-- 페이징처리 / 게시글개수 --> 
 <select id="boardCount" resultType="int">
 select count(p_number) from product_table;
 </select>
 
 <!-- 페이징처리(리스트) -->
 <select id="pagingList" parameterType="java.util.HashMap" resultType="productDTO">
 select * from product_table order by p_number desc limit #{start}, #{limit}
 </select>
 
 <!-- 만족도 저장 -->
 <update id="rating" parameterType="productDTO">
 update product_table set p_satisfy = p_satisfy + #{p_satisfy} where p_number = #{p_number}
 </update>
 
 <!-- 만족도 합계 불러오기 -->
 <select id="ratingResult" parameterType="long" resultType="int">
 select p_satisfy from product_table where p_number = #{p_number}
 </select>
 
<!-- 수강신청인원 불러오기 -->
<select id="applyNum" parameterType="long" resultType="int">
select p_applyNum from product_table where p_number = #{p_number}
</select>

<!-- 수강신청한 사람 저장 -->
<update id="apply" parameterType="long">
update product_table set p_applyNum = p_applyNum+1 where p_number=#{p_number}
</update>

<!-- 게시글 삭제  -->
<delete id="delete" parameterType="long">
delete from product_table where p_number = #{p_number}
</delete>

<!-- 클래스 수정 -->
<update id="update" parameterType="productDTO">
update product_table set p_name=#{p_name}, p_contents=#{p_contents}, p_price=#{p_price}, p_startDate=#{p_startDate}, p_endDate=#{p_endDate} where p_number = #{p_number} 
</update>

<!-- 클래스 신청한 회원목록 -->
<select id="applymember" parameterType="long" resultType="productDTO">
select * from product_table where p_number = #{p_number}

</select>

<select id="select" parameterType="String" resultType="productDTO">
select * from product_table order by ${select} desc, p_name asc
</select>

<!-- 검색  -->
<select id="search" parameterType="com.icia.openclass.dto.SearchDTO" resultType="productDTO">
select * from product_table where ${searchType} like concat ('%', #{keyword}, '%') order by p_number desc limit #{pagingStart}, #{PAGE_LIMIT}
</select>

<!--검색 페이징처리 -->
<select id="searchCount" parameterType="java.util.HashMap" resultType="int">
select count(p_number) from product_table where ${searchType} like concat ('%', #{keyword}, '%')
</select>
 </mapper> 